button {
    outline: none;
    border: none;
}

.table-container {
    height: 400px;
    overflow: auto;
}

table {
    width: 100%;
}

tbody tr:nth-child(even){
    background-color: #f1f1f1;
}

tr > th {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    width: 50%;
}

tr > td {
    text-align: center;
    padding: 3px;
}


.clickable { cursor: pointer; }
.clickable:hover { background-color: #ddd; }

.w100 { width: 100%; }
.w80 { width: 80%; }